section{
    width: 70vw;
    margin-left: 90px;
    margin-right: 320px;
}

#notif-bar{
    color: #155724;
    background-color: #d4edda;
    border: 1.5px solid #c3e6cb;
    border-radius: 0px 0px 15px 15px;
    padding-left: 25px;
    margin-left: 15px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    height: 33px;
    transition: height .2s;
}

#close{
    cursor: auto;
    user-select: none;
    width: 33px;
    height: 33px;
}

#header-div{
    height: 80px;
    justify-content: space-between !important;
}

#clogo{
    width: 57px;
    margin-left: 14px;
    border-radius: 50%;
}

#teamname{
    font-size: 40px;
    margin: 0;
    margin-left: 10px;
    display: inline-block;
}

#search-div{
    display: inline-block;
}

#search-lbl{
    cursor: text;
}

#search-vid{
    width: 33px;
    position: relative;
    top: 11px;
}

#search-input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 230px;
    height: 35px;
    font-size: 15px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

#search-input:focus + #search-lbl{
    width: 10px;
}

#search-baseline{
    height: 1px;
    background-color: #c0bebe;
    width: 280px;
    position: relative;
    left: -3px;
}

#right-div{
    display: inline-block;
}

#notif-div{
    display: inline-block;
    cursor: pointer;
}

#notif-vid{
    width: 33px;
    position: relative;
    top: 8px;
}

#cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
}

.design-container{
    width: 230px;
    background-color: white;
    height: 190px;
    border-radius: 40px;
    text-decoration: none;
    color: black !important;
    margin: auto;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: width .2s ease 100ms, height .2s ease 100ms, margin-top .2s ease 100ms, margin-bottom .2s ease 100ms;
}

.design-container > div{
    width: 88%;
}

.design-a{
    color: black;
    text-decoration: none;
}

.design-container:hover{
    box-shadow: 0 0 5px 0px grey;
    width: 235px;
    height: 198px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.side-bar{
    width: 12px;
    height: 40px;
    background-color: rgb(255 0 0 / 60%);
    display: inline-block;
    position: relative;
    top: 33px;
    border-radius: 0px 10px 10px 0px;
}

.design-container:hover > .side-bar{
    background-color: red;
}

.designations{
    position: relative;
    left: 27px;
    top: -15px;
    font-weight: 1000;
    font-size: 18px;
}

.last-report{
    position: relative;
    left: 27px;
    top: -15px;
    font-size: 12px;
}

.ongoing-work{
    position: relative;
    left: 27px;
}