body {
    margin: 0;
    padding: 0;
    background: linear-gradient(40deg, #030529, #034d91);
    /*  #e36b77, #5873de  */
    height: 93vh;
    font-family: system-ui;
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    background-color: white;
    margin: 50px;
    height: 85vh;
    border-radius: 13px;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-image {
    margin-right: 130px;
}

#signinform {
    margin-left: 80px;
    margin-top: 40px;
}

#signinimg {
    width: 25vw;
}

#form-head {
    margin-bottom: 40px;
    font-size: 23px;
    margin-top: 20px;
}

form {
    margin-bottom: 75px;
}

.message-box{
    text-align: center;
    font-size: 13px;
    height: 46px;
    border-radius: 20px;
    width: 237px;
    margin-left: 44px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 3px;
}

.error{
    color: rgb(248, 81, 73);
    background-color: rgb(248, 215, 218);
    border: 1px solid rgba(248, 81, 73, 0.341);
}

.success{
    color: rgb(88 184 71);
    background-color: rgb(88 184 71 / 25%);
    border: 1px solid rgb(88 184 71 / 70%);
}

.message-div{
    padding-left: 20px;
}

.close{
    width: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding-left: 9px;
    border-radius: 20px;
}

#close:hover{
    opacity: 1.7;
}

input {
    background-color: rgb(232 232 232);
    height: 20px;
    width: 193px;
    border-radius: 20px;
    outline: none;
    padding: 11px;
    padding-left: 31px;
    font-size: 15px;
    border: 0.5px solid rgb(197 195 195);
    margin-left: 44px;
    margin-top: 11px;
}

.anime-passShow{
    width: 18px;
    position: relative;
    left: -59px;
    top: 3px;
    display: inline-block;
}

#anime-email {
    width: 18px;
    position: relative;
    left: -232px;
}

#anime-pass {
    width: 23px;
    position: relative;
    left: -237px;
    top: 5px;
}

#submit-btn {
    width: 232px;
    height: 46px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(88 184 71);
    color: white;
    margin-top: 30px;
    cursor: pointer;
    letter-spacing: 1px;
}

#href-small {
    text-decoration: none;
    color: #8d8a8a;
}

#new-account {
    padding-top: 25px;
}

#right-arrow-img {
    width: 19px;
    position: relative;
    top: 1.5px;
    left: 4px;
}