<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/utility.css' %}">
    {% block head %}{% endblock head %}
    <title>{% block title %} - Report Maker{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <span id="nav-expander-span">
                <span id="nav-static" class="align-center">
                    <a href="{% url 'srijan' %}" id="logo">
                        <img src="{% static 'images/home/logo.png' %}" alt="Logo" class="align-center" id="logo-img">
                    </a>
                    <div id="nav-center-div">
                        <div class="align-center" id="menu">
                            <lord-icon
                                id="menu-icon"
                                src="https://cdn.lordicon.com/bwhjesak.json"
                                trigger="click-me-twice"
                                colors="primary:#121331,secondary:#08a88a"
                                scale="30"
                                style="width:70px;height:70px">
                            </lord-icon>
                        </div>
                        <a href="{% url 'home' %}" class="align-center nav-{{home}}">
                            <lord-icon
                                src="https://cdn.lordicon.com/igpbsrza.json"
                                trigger="hover"
                                colors="primary:#121331"
                                state="hover-2"
                                scale="30"
                                style="width:70px;height:70px">
                            </lord-icon>
                        </a>
                        <a href="{% url 'reports' %}" class="align-center nav-{{reports}}">
                            <lord-icon
                                src="https://cdn.lordicon.com/sygggnra.json"
                                trigger="hover"
                                colors="primary:#121331"
                                state="hover"
                                scale="30"
                                style="width:70px;height:70px">
                            </lord-icon>
                        </a>
                        <a href="{% url 'settings' %}" class="align-center nav-{{settings}}">
                            <lord-icon
                                src="https://cdn.lordicon.com/ryyjawhw.json"
                                trigger="hover"
                                colors="primary:#121331"
                                scale="30"
                                style="width:70px;height:70px">
                            </lord-icon>
                        </a>
                    </div>
                    <button class="align-center profile-btn">
                        <div class="align-center" id="profile-btn-div">
                            <img class="align-center" id="profile-img" src="{% static 'images/home/user.jpg' %}" alt="">
                            <img class="dropdown-caret" id="profile-downarrow" src="{% static 'images/home/dropdown-caret.png' %}" alt="↓">
                        </div>
                        <div id="dd-profile-menu" class="align-center" style="display: none;">
                            {% with user.first_name|add:" "|add:user.last_name as userName %}
                            <a href="{% url 'profile' %}" id="profile-anchor">Signed In as <br><strong>{{userName|truncatechars:16}}</strong></a>
                            {% endwith %}
                            <a href="{% url 'logout' %}" id="logout">Logout</a>
                        </div>
                        <span id="ddmenu-cover" style="width: 0px; height: 0px;"></span>
                    </button>
                </span>
                <span id="nav-open-menu">
                    <a href="{% url 'srijan' %}" id="logo-txt" class="align-center">Srijan</a>
                    <div id="nav-center-txt-div">
                        <div class="nav-txts align-center" id="menu-txt">Menu</div>
                        <a href="{% url 'home' %}" class="nav-txts align-center nav-txts-{{home}}" style="margin-top: 1px;">Home</a>
                        <a href="{% url 'reports' %}" class="nav-txts align-center nav-txts-{{reports}}" id="reports-txt">Reports</a>
                        <a href="{% url 'settings' %}" class="nav-txts align-center nav-txts-{{settings}}" id="settings-txt">Settings</a>
                    </div>
                    <span id="profile-txt">Profile</span>
                </span>
            </span>
            <span id="nav-cover"></span>
        </nav>
    </header>
    {% block main %}{% endblock main %}
    <aside>
        {% block aside %}
        <h2 class="align-center">Recent Reports</h2>
        {% for report in reportsData %}
        <a href="{% url 'report' %}?id={{report.id}}" class="report-div align-center">
            <div class="report-header align-center">
                <div>
                    <span class="report-bullet"></span>
                    <span class="report-title">{{report.report_title|truncatechars:20}}</span>
                </div>
                <div class="report-time">
                    {% load custom_tags %}
                    {% with report.created|get_time as times %}
                    {{times}}
                    {% endwith %}
                </div>
            </div>
            <div class="report-base align-center">
                <div class="reporter-name">{% with report.reporter|split:" - " as reporterName %}{{reporterName.0}}{% endwith %}</div>
                <div class="reporter-design">{% with report.post_code|split:" - " as designation %}{{designation.0}}{% endwith %}</div>
            </div>
        </a>
        {% endfor %}
        {% endblock aside %}
    </aside>
    {% block addHtml %}{% endblock addHtml %}
    {% block script %}{% endblock script %}
    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>