{% extends './base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block title %}Home{{block.super}}{% endblock title %}

{% block main %}
<main>
    <section>
        {% if messages %}
        <div id="notif-bar" style="display:flex">
            <span id="notif-bar-text" class="align-center">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </span>
            <span id="close" class="align-center">✕</span>
        </div>
        {% endif %}
        {% block header %}
        <div id="header-div" class="align-center">
            <span id="left-head" class="align-center">
                <img id="clogo" src="{% static 'images/home/clogo.svg' %}" alt="CLogo">
                {% if user.leader.team_name %}
                <h1 id="teamname">{{user.leader.team_name}}</h1>
                {% endif %}
                {% if user.member.leader.team_name %}
                <h1 id="teamname">{{user.member.leader.team_name}}</h1>
                {% endif %}
            </span>
            {% comment %} <span id="right-head" class="align-center">
                <div id="search-div">
                    <label for="search-input" id="search-lbl">
                        <video id="search-vid" src="{% static 'images/home/search.mp4' %}" alt="Search"></video>
                    </label>
                    <input type="text" placeholder="Search Here" id="search-input">
                    <div id="search-baseline"></div>
                </div>
                <div id="notif-div">
                    <lord-icon
                        src="https://cdn.lordicon.com/kjsfgazx.json"
                        trigger="hover"
                        scale="60"
                        colors="primary:#121331"
                        style="width:32px;height:32px">
                    </lord-icon>
                </div> {% endcomment %}
            </span>
        </div>
        {% endblock header %}
        {% block card %}
        <div id="cards">
        {% if posts.count == 0 %}
            {% if user.leader %}
                <a href="{% url 'profile' %}?addPost=True" class="design-container align-center">
                    <lord-icon
                        target="a.design-container"
                        src="https://cdn.lordicon.com/zgogqkqu.json"
                        trigger="hover"
                        colors="primary:#15aaff,secondary:#adf7f2"
                        stroke="70"
                        style="width:55px;height:60px">
                    </lord-icon>
                    <span style="padding-right: 10px;">Add New Post</span>
                </a>
            {% endif %}
        {% else %}
            {% for post in posts %}
            <a href="{% url 'reports' %}?post={{post.0}}" class="design-container">
                <span class="side-bar"></span>
                <div class="designations">{{post.1}}</div>
                <div class="last-report">{{post.4}}</div>
                <div class="ongoing-work">{{post.3}}</div>
            </a>
            {% endfor %}
        {% endif %}
        </div>
        {% endblock card %}
    </section>
</main>
{% endblock main %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock script %}