<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/utility.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <title>Log In - Report Maker</title>
</head>
<body>
    <div class="form-box">
        <div id="form-image">
            <img src="{% static 'images/sign/decoration-img.jpg' %}" alt="SignIn" id="signinimg">
        </div>
        <div id="signinform">
            <div id="form-head" class="align-center">Member Login</div>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="form-div align-center message-box {{message.tags}}">
                            <span class="message-div">
                                {{ message }}
                            </span>
                            <span class="close">✕</span>
                        </div>
                    {% endfor %}
                {% endif %}
                
                <div class="form-div">
                    <input type="email" name="email" id="email" class="form-input" placeholder="Email">
                    <label for="email" class="form-lbl">
                        <img src="{% static 'images/sign/email.gif' %}" alt="email" id="anime-email">
                    </label>
                </div>
                <div class="form-div">
                    <input type="password" name="password" id="pass" class="form-input password" placeholder="Password">
                    <label for="pass" class="form-lbl">
                        <img src="{% static 'images/sign/password.gif' %}" alt="password" id="anime-pass">
                    </label>
                    <video src="{% static 'images/sign/show.mp4' %}" class="anime-passShow align-center"></video>
                </div>
                <div class="form-submit align-center">
                    <button type="submit" id="submit-btn">Login</button>
                </div>
                <span class="align-center">
                    <a href="{% url 'forgotPass' %}" id="href-small">
                        <small>Forgot <strong>Password?</strong></small>
                    </a>
                </span>
                <span class="align-center" id="new-account">
                    <a href="{% url 'signup' %}" id="href-small">
                        <small><b>Create New Account <img src="{% static 'images/sign/right-arrow.gif' %}" alt="->" id="right-arrow-img"></b></small>
                    </a>
                </span>
            </form>
        </div>
    </div>
    <script src="{% static 'js/signin.js' %}"></script>
</body>
</html>