<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signup.css">
    <title>Sign In</title>
</head>
<body>
    <div class="form-box">
        <div id="form-image">
            <img src="/static/images/sign/decoration-img.jpg" alt="SignIn" id="signinimg">
        </div>
        <div id="signinform">
            <div id="form-head" class="align-center">Member Sign Up</div>
            <form action="/signup/" method="post">
                {% csrf_token %}
                <div class="form-div">
                    <input type="text" name="fname" id="fname" class="form-input" placeholder="Enter First Name">
                    <label for="fname" class="form-lbl">
                        <img src="/static/images/sign/name.gif" alt="fname" class="anime-name">
                    </label>
                </div>
                <div class="form-div">
                    <input type="text" name="lname" id="lname" class="form-input" placeholder="Enter Last Name">
                    <label for="lname" class="form-lbl">
                        <img src="/static/images/sign/name.gif" alt="lname" class="anime-name">
                    </label>
                </div>
                <div class="form-div">
                    <input type="email" name="email" id="email" class="form-input" placeholder="Email">
                    <label for="email" class="form-lbl">
                        <img src="/static/images/sign/email.gif" alt="email" id="anime-email">
                    </label>
                </div>
                <div class="form-div">
                    <input type="password" name="password" id="mainpassword" class="form-input password" placeholder="Enter New Password">
                    <label for="password" class="form-lbl">
                        <img src="/static/images/sign/password.gif" alt="password" id="anime-pass">
                    </label>
                    {% comment %} <img src="/static/images/eye-close.jpg" alt="show" class="align-center anime-passShow"> {% endcomment %}
                    <video src="/static/images/sign/show.mp4" class="anime-passShow align-center"></video>
                </div>
                <div class="form-div">
                    <input type="password" name="conpassword" id="conpassword" class="form-input password" placeholder="Confirm New Password">
                    <label for="password" class="form-lbl">
                        <img src="/static/images/sign/password.gif" alt="cpassword" id="anime-pass">
                    </label>
                    {% comment %} <img src="/static/images/eye-close.jpg" alt="show" class="align-center anime-passShow"> {% endcomment %}
                    <video src="/static/images/sign/show.mp4" class="anime-passShow align-center"></video>
                </div>
                <div class="form-div align-center">
                    <fieldset class="checkbox-field" name="role">
                        <select class="checkbox" id="role">
                          <option value="None">Choose Role</option>
                          {% for value, role in roles %}
                          <option value="{{value}}">{{role}}</option>
                          {% endfor %}
                        </select>
                    </fieldset>
                </div>
                <div class="form-div" id="team-div">
                    <input type="text" name="team" id="team" class="form-input" placeholder="Enter Designation Code">
                    <label for="team" class="form-lbl">
                        <img src="/static/images/sign/team.gif" alt="Team Details" id="anime-team">
                    </label>
                </div>
                <div class="form-submit align-center">
                    <button type="submit" id="submit-btn">Sign Up</button>
                </div>
                <span class="align-center" id="signin">
                    <a href="/login" id="href-small">
                        <small>Already Registered?<b> Login <img src="/static/images/sign/right-arrow.gif" alt="->" id="right-arrow-img"></b></small>
                    </a>
                </span>
            </form>
        </div>
    </div>
    <script src="/static/js/signup.js"></script>
</body>
</html>